<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>YelpCamp </title>
	<link href="/stylesheets/bootstrap.min.css" rel="stylesheet"  crossorigin="anonymous">
	<link crossorigin="anonymous" rel="preconnect" href="https://fonts.googleapis.com">
	<link crossorigin="anonymous" rel="preconnect" href="https://fonts.gstatic.com">
<link crossorigin="anonymous" href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">	<link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body class="d-flex flex-column vh-100">
	<%-include('../partials/navbar')%>
	<main class="container m-0 pr-0 mw-100">
		<%-include('../partials/flash')%>
		<div class="container-fluid d-flex justify-content-center align-items-center my-5 w-75">
			<div class="row">
				<div class="col-md-8 offset-md-3">
					<div class="card shadow w-75">
						<div class="w-100">
							<img crossorigin="anonymous" src="https://images.unsplash.com/photo-1476041800959-2f6bb412c8ce?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="LoginImage" class="card-img-top">
						</div>
						<div class="card-body">
							<%- body %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<script src="/scripts/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
	<script src="/scripts/validateClientForms.js"></script>
</body>
</html>
	