<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>YelpCamp </title>
	<link href="/stylesheets/bootstrap.min.css" rel="stylesheet"  crossorigin="anonymous">
	<link href="/stylesheets/maptiler-sdk.css" rel="stylesheet" crossorigin="anonymous">
	<link crossorigin="anonymous" rel="preconnect" href="https://fonts.googleapis.com">
	<link crossorigin="anonymous" rel="preconnect" href="https://fonts.gstatic.com">
<link crossorigin="anonymous" href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">	<link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body class="d-flex flex-column vh-100">
	<%-include('../partials/navbar')%>
	<main class="container m-0 pr-0 mw-100">
		<%-include('../partials/flash')%>
		<%- body %>
	</main>
	<script src="/scripts/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
	<script src="/scripts/validateClientForms.js"></script>

</body>
</html>
	