<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>YelpCamp </title>
	<link href="/stylesheets/bootstrap.min.css" rel="stylesheet"  crossorigin="anonymous">
	<link href="/stylesheets/maptiler-sdk.css" rel="stylesheet" crossorigin="anonymous">
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body class="d-flex flex-column vh-100">
	
	<%-include('../partials/navbar')%>
	<main class="d-flex vh-100">
		<nav class="nav flex-column sidebar text-white p-3 d-flex justify-content-start gap-4">
			<a class="nav-link text-white mt-5 fadeAnimate" href="/u/settings">Profile</a>
			<a class="nav-link text-white fadeAnimate" href="/u/settings/manage">Manage Account</a>
		</nav>
		<div class="d-flex justify-content-center vw-100 mt-5">
			<%- body %>
		</div>
	</main>
	<script src="/scripts/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
	<script src="/scripts/validateClientForms.js"></script>
</body>
</html>
	