body{
    margin:0em;
    width: 100%;
    animation: slideIn 0.2s ease forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}

.btn-custom {
    color: #000a;
    /* background-color: #0e8b86; */
    background-color: #fff;
    border-color: #000a;
}
.btn-custom:hover{
    color:#fff;
    background-color: #0e8b86;
    border-color: #118d59;
}
.cluster-map{
    width:100%;
    height:30em;
    margin:0em;
}

.small-map{
    width:100%;
    height:30em;
}

.mapstyles-select {
	position: relative;
	top: 5px;
	left: 5px;
	z-index: 1000;
}

.sidebar{
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-color: #004147;
    font-size: 1.5em;
    width: 10em;
    /* height:100%; */
}
.card-custom {
    height: 35em;
}

.rale {
  font-family: "Raleway";
  font-weight: 500;
}


.mt-10{
    margin-top:6rem;
}
.ml-10{
    margin-left:4rem;
}
.ml-20{
    margin-left:12rem;
}
.w-120{
    width:120%;
}
.shadow-80{
    box-shadow: 0em 0em 2em 0.1em #80808043;
}

.wrap {
    width: 25em;
    overflow: hidden;
}
