<% layout('layouts/settings.ejs') %>

<div class="d-flex justify-content-start">
    <nav class="nav flex-column sidebar text-white p-3 d-flex justify-content-start gap-4">
        <a class="nav-link text-white mt-5" href="/u/settings">Profile</a>
        <a class="nav-link text-white" href="/u/settings/manage">Manage Account</a>
    </nav>

    <div class="card shadow-80 h-100 w-50 ml-20 mt-10 p-5">
        <%-include('../partials/flash')%>
		<div class="card-body" >
			<h2 class="card-title">User Details</h2>
			<form action="/u/editUser" method="POST" class="needs-validation" novalidate>
                <div class="mt-4">
                    <label class="form-label" for="user[name]">Name</label>
                    <input class="form-control" type="text" name="name" id="name" required minlength="3">
                </div>
                <div class="mt-4">
                    <label class="form-label" for="user[email]">Email</label>
                    <input class="form-control" type="email" name="email" id="email" required>
                </div>
                <div class="mt-4">
                    <label class="form-label" for="user[username]">Username</label>
                    <input class="form-control" type="text" name="username" id="username" required>
                </div>
                <div class="d-grid">
                    <button class="btn btn-lg btn-success mt-4">Save</button>
                </div>
		    </form>
		</div>
	</div>
</div>
