<% layout('layouts/boilerplate.ejs') %>


<div class="d-flex">
    <nav class="nav flex-column bg-dark text-white p-3" style="width: 250px; height: 100vh;">
      <a class="nav-link text-white" href="#">Home</a>
      <a class="nav-link text-white" href="#">Profile</a>
      <a class="nav-link text-white" href="#">Messages</a>
      <a class="nav-link text-white" href="#">Settings</a>
    </nav>
    <nav  class="nav nav-dark bg-dark flex-column">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">YelpCamp</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-link active" href="/">Home</a>
				<a class="nav-link" href="/campgrounds">Campgrounds</a>
				<a class="nav-link" href="/campgrounds/new">New Campground</a>
			</div>
			<div class="navbar-nav ml-auto" style="margin-left:auto;">
				<%if(currentUser){%>
					<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<%=currentUser.username%>
					</a>
					<ul class="dropdown-menu dropdown-menu-dark bg-dark" aria-labelledby="navbarDarkDropdownMenuLink">
						<li><a class="dropdown-item" href="/u/logout">Log Out</a></li>
						<li><a class="dropdown-item" href="/u/settings">Settings</a></li>
					</ul>
					</li>
				<%}else{%>
					<a class="nav-link" href="/u/login">Log In</a>
					<a class="nav-link" href="/u/register">SignUp</a>
				<%}%>
			</div>
		</div>
	</div>
</nav>
	
</div>





<h1>Change Password</h1>

<form action="/u/changePwd" method="POST">
    <label for="currPwd">Enter Current Password</label>
    <input type="password" name="currPwd" id="currPwd">
    <label for="newPwd">Enter New Password</label>
    <input type="password" name="newPwd" id="newPwd">
    <button>Submit</button>
</form>

<h1>Delete Account</h1>
<form action="/u?_method=DELETE" method="POST">
    <label for="currPwd">Enter Password</label>
    <input type="password" name="currPwd" id="currPwd">
    <label for="confirm">Type "Delete this account" below:</label>
    <input type="text" name="confirm" id="confirm">
    <button class="btn btn-danger btn-lg">Delete</button>
</form>
